<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<div class = main>
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
<div class="img">
  <ion-img  src="assets/icon/logonew.png"></ion-img>
</div>
  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->


  <ion-row>
    <ion-col width-50 style="text-align: center">
      <ion-button (click)="findVehical()" color="success">Find Vehical</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-50 style="text-align: center">
      <ion-button (click)="addVehical()" color="success">Add Vehical</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
</div>
